<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tic Toe App</title>
        <style>
        table, th, td {
          border: 4px solid blue;
          border-collapse: collapseth;
          text-align: center;
          }
        </style>
    </head>
    <body>
        <h1>Tic Tac Toe Game</h1>
        <br>
        <h2>Hello, please choose your player types.</h2>
        <h4>Player one:</h4>
        <form action = "/input" method = "post">
 		<select name = "player_one">
 			<option value = "Human">Human</option>
 			<option value = "Simple AI">Simple AI</option>
   			<option value = "Sequential AI">Sequential AI</option>
 			</select>
 			<br>
 		<h4>Player two:</h4>
 			<select name = "player_two">
  			<option value = "Human">Human</option>
 			<option value = "Simple AI">Simple AI</option>
   			<option value = "Sequential AI">Sequential AI</option>
 			</select>
 			<br>
            <br>
 			<input type = "submit">
        </form>
        <br>
        <h2>This is your Tic Tac Toe Gameboard!</h2>
        <table style="width:10%">
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <br>
            <tr>
                <td>4</td>
                <td>5</td>
                <td>6</td>
            </tr>
            <br>
            <tr>
                <td>7</td>
                <td>8</td>
                <td>9</td>
            </tr>
        </table>
        <br>
        <table id='board'; style="width:100px">
            <tr>
                <td>1</td><td>2</td><td>3</td>
            </tr>
            <tr>
                <td>4</td><td>5</td><td>6</td>
            </tr>
            <tr>
                <td>7</td><td>8</td><td>9</td>
            </tr>
        </table>
         
    </body>
</html>